{
	"parser": "@typescript-eslint/parser",
	"extends": ["react-app", "eslint:recommended", "plugin:prettier/recommended"],
	"env": {
		"node": true,
		"es6": true,
		"jest": true
	},
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"rules": {
		"no-console": [2, { "allow": ["info", "warn", "error"] }]
	},
	"prettier/prettier": [
		"error",
		{
			"endOfLine": "lf"
		}
	]
}
