

@media screen and (max-width: 700px) {
	._anchor {
		width: 70% !important;
	}

	._form {
		width: 70% !important;
	}
}

._anchor {
	font-family: 'Spectral', serif;
	font-weight: bold;
	border: none;
	box-shadow: 2px 4px 4px gray;
	color: black;
	text-decoration: none;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	cursor: pointer;
	width: 25%;
	height: 100px;
	background-color: #a6192e;
	display: flex;
	justify-content: center;
	align-items: center;
}

._form {
	h4 {
		font-family: 'Spectral', serif;
		font-weight: bold;
	}
	input {
		font-family: 'Spectral', serif;
		font-weight: bold;
	}
	font-family: 'Spectral', serif;
	font-weight: bold;
	border: none;
	box-shadow: 2px 4px 4px gray;
	color: black;
	text-decoration: none;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	cursor: pointer;
	width: 25%;
	height: 100px;
	background-color: #a6192e;
	border: none;
	text-decoration: none;
}
