.button {
	cursor: pointer;
	color: white;
	text-decoration: none;
	font-size: 2rem;
	background-color: $main-color;
	margin: 25px;
	padding: 15px;
	border: outset;
	border-color: $main-color;
	border-width: 0.3rem;
	border-radius: 5px;
	width: max-content;
	height: fit-content;
}

.ButtonDiv {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-grow: 2;
}
