.Catalog {
	width: 100%;
	height: 100vh;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: auto;
	position: absolute;
	top: $navbar-height;
	left: 0;
	right: 0;
	bottom: 0;

	p {
		margin: auto;
		margin-bottom: 0;
		margin-top: 0;
	}

	iframe {
		display: absolute;
		border: none;
		overflow-y: auto;
		overflow-x: hidden;
		min-height: 1000px;
		width: 100%;
		flex-grow: 1;
	}
}
