.Contact {
	display: flex;
	flex-direction: column;
	margin: 30px 0;
	max-width: 1000px;
	margin: auto;

	h4 {
		color: black;
		font-size: 24px;
		font-weight: 500;
		line-height: 1.1;

		&:after {
			content: "";
			display: block;
			border-bottom: 2px solid $main-color;
			position: relative;
			top: 4px;
			width: 120px;
			margin: 0 auto;
		}
	}

	a {
		text-decoration: none;
		color: $main-color;
		&:hover {
			text-decoration: underline;
		}
	}

	img {
		width: 200px;
		height: 250px;
		object-fit: cover;
		border-radius: 5px;
	}

	p {
		color: $text-muted;
	}

	.pg {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.Person {
		margin: 40px 60px;
	}

	.Person * {
		text-align: center;
		margin: 5px auto;
	}

	.icon {
		color: $text-muted;
		margin-right: 5px;
	}

	.phone {
		display: flex;

		p {
			margin-left: 0;
		}
	}
}
