img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.Contact {
    display: flex;
    flex-direction: column;
}

.pg {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Person {
    margin: 60px;
}

.Person * {
    text-align: center;
    margin: auto;
}