.home {
	.firstView {
		// background-color: $secondary-color;
		width: 100%;
		right: 0;
		left: 0;
		position: relative;
		padding-bottom: 50px;
		padding-left: -100px;
		padding-right: -100px;

		h1 {
			color: white;
		}

		h1:after {
			border: none;
		}

		.titleLine {
			color: $main-color;
		}

		.countdown {
			color: white;
			font-size: 2em;
		}

		.logoLarge {
			align-items: center;
			height: auto;
			width: 50%;
			margin: 25px auto;
		}

		.Icons {
			.icon {
				color: white;
				height: 50px;
				width: 50px;
				margin: 5px;
			}
		}
	}

	p {
		size: 100px;
	}

	.news {
		position: relative;
		top: 20px;
		background-color: grey;
		padding: 10px;

		h1 {
			color: white;
		}
	}
}
