.home {
	.firstView {
		background-color: $secondary-color;
		width: 100%;
		right: 0;
		left: 0;
		position: relative;
		padding-bottom: 50px;
		padding-left: -100px;
		padding-right: -100px;

		h3 {
			color: white;
		}

		.countdown {
			color: white;
			font-size: 2em;
		}

		.logoLarge {
			align-items: center;
			height: auto;
			width: 60%;
			margin-left: auto;
			margin-right: auto;
		}

		.twoIcons {
			.icon {
				color: white;
				margin-right: 5px;
			}
		}
	}
}
