.involved {
	.dropdown {
		width: 80%;
		margin: auto;
		position: relative;

		.dropdown-content {
			display: block;

			ul {
				text-align: center;
			}
		}
		h3:hover ul {
			display: none;
		}
	}
}
