table {
	border: 1px solid lightgray;
	width: 50%;
	border-collapse: collapse;
}
.table_header {
	text-align: left;
}

th {
	border: 1px solid lightgray;
}

.top {
	padding-left: 10px;
	padding-right: 10px;
}

.benefits {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.header {
	margin-bottom: 20px;
}
