.involved {
	.info {
		background-color: grey;
		color: white;
		padding: 15px 0;
	}

	.threeColumns {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
		flex-wrap: wrap;

		.column {
			flex-basis: auto;

			ul {
				font-size: medium;
				font-weight: bold;
				text-align: center;
				list-style: none;
			}
		}
	}
}

//TODO: add so that when it flexes it is just one item per row instead of 2+1
