.navbar {
	background: $main-color-alpha;
	text-align: center;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: $navbar-height;
}

.active {
	text-decoration: underline;
	font-weight: bold;
}

.nav-toggle {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

/* TODO: Fix */
.nav-toggle:focus ~ .nav-toggle-label {
	outline: none;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;

	span {
		display: block;
		background: white;
		height: 2px;
		width: 2em;
		border-radius: 2px;
		position: relative;

		&::before,
		&::after {
			@extend span;
			content: "";
			position: absolute;
		}

		&::before {
			bottom: 7px;
		}

		&::after {
			top: 7px;
		}
	}
}

nav {
	position: absolute;
	text-align: left;
	overflow-y: auto;
	top: $navbar-height;
	bottom: 0;
	left: 0;
	height: 100vh;
	background: $main-color-alpha;
	transform: scale(0, 1);
	transform-origin: left;
	transition: transform 400ms ease-in-out;
	overflow: scroll;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.nav-ul {
		padding-bottom: 80px;
	}

	li {
		margin-bottom: 1em;
		margin-left: 1em;
	}

	a {
		color: white;
		text-decoration: none;
		font-size: 1.2rem;
		opacity: 0;
		transition: opacity 150ms ease-in-out;
	}

	.dropdown-content {
		margin: 1em 1em;

		a {
			font-size: 1rem;
		}
	}
}

.logo {
	height: 40px;
	width: auto;
	margin: 20px 5px;
}

.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
}

.languages {
	display: flex;
	justify-content: space-evenly;
}

@media screen and (min-width: $shrink-width) {
	// shrinks when screen is 80% of $shrink-width, for some reason
	.active {
		text-decoration: none;
		font-weight: normal;

		&::after {
			content: "";
			display: block;
			height: 3px;
			background: white;
			position: absolute;
			bottom: -0.75em;
			left: 0;
			right: 0;
		}
	}

	.nav-toggle-label {
		display: none;
	}

	.navbar {
		display: grid;
		grid-template-columns: 1fr auto minmax(100px, 5fr) 0.5fr;
	}

	.logo {
		grid-column: 2 / 3;
		margin-left: 80px;
	}

	nav {
		all: unset;
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		ul {
			display: flex;
			height: 100%;
			align-items: center;
		}

		li {
			margin: 0 1em;
			height: 100%;
			display: flex;
			align-items: center;
		}

		a {
			opacity: 1;
			position: relative;
			font-size: 0.9rem;

			&:hover {
				color: white;
			}

			&::before {
				content: "";
				display: block;
				height: 3px;
				background: white;
				position: absolute;
				top: -0.75em;
				left: 0;
				right: 0;
				transform: scale(0, 1);
				transition: transform ease-in-out 250ms;
			}

			&:hover::before {
				transform: scale(1, 1);
			}
		}

		.dropdown {
			height: 100%;
			display: flex;
			align-items: center;
			&:hover .dropdown-content {
				display: block;
				transform: scale(1, 1);
			}
		}

		.dropdown-content {
			margin: 0;
			display: none;
			position: absolute;
			background-color: $main-color-alpha;
			z-index: 1;
			top: 80px;
			transform: scale(1, 0);
			transition: transform 250ms ease-in-out;

			a {
				text-align: left;
				margin: 0.5rem 1rem;

				&::before {
					top: -0.25em;
				}
			}

			ul,
			li {
				margin: 0;
				padding: 0;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}

			.active {
				font-weight: bold;

				&::after {
					content: "";
					all: unset;
				}
			}
		}
	}

	.languages {
		flex-direction: column;
		height: 80px;
	}

	@media screen and (min-width: 1200px) {
		nav a {
			font-size: 1.1rem;
		}
	}
}
