$main-color: rgb(166, 25, 46);
$main-color-alpha: rgba(166, 25, 46, 0.95);
$secondary-color: #222;
$grey-background: grey;
$navbar-height: 80px;
$text-muted: #777;
$shrink-width: 1080px;
$max-width-text: 700px;
$max-width-list: 450px;
$max-width-dropdown: 600px;
