.navbar {
	background: #a6192e;
	text-align: center;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 80px;
}

.navbar a:-webkit-any-link {
	color: white;
	-webkit-text-fill-color: white;
}

.navbar a:-moz-any-link {
	color: white;
	-webkit-text-fill-color: white;
}

.navbar a:any-link {
	color: white;
	-webkit-text-fill-color: white;
}

.active {
	text-decoration: underline;
	font-weight: bold;
}

.nav-toggle {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

/* TODO: Fix */
.nav-toggle:focus ~ .nav-toggle-label {
	outline: none;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: white;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: "";
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 7px;
}

.nav-toggle-label span::after {
	top: 7px;
}

nav {
	position: absolute;
	text-align: left;
	overflow-y: auto;
	top: 100%;
	left: 0;
	height: 100vh;
	background: #a6192e;
	width: auto;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transform-origin: left;
	transform-origin: left;
	-webkit-transition: -webkit-transform 400ms ease-in-out;
	transition: -webkit-transform 400ms ease-in-out;
	transition: transform 400ms ease-in-out;
	transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
	overflow: scroll;
	padding-bottom: 80px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

@-moz-document url-prefix() {
	nav .nav-ul {
		padding-bottom: 80px;
	}
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	text-decoration: none;
	font-size: 1.2rem;
	opacity: 0;
	-webkit-transition: opacity 150ms ease-in-out;
	transition: opacity 150ms ease-in-out;
}

nav .dropdown-content {
	margin: 1em 1em;
}

nav .dropdown-content a {
	font-size: 1rem;
}

.logo {
	height: 40px;
	width: auto;
	margin: 20px 5px;
}

.nav-toggle:checked ~ nav {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	-webkit-transition: opacity 250ms ease-in-out 250ms;
	transition: opacity 250ms ease-in-out 250ms;
}

.languages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

@media screen and (min-width: 1080px) {
	.active {
		text-decoration: none;
		font-weight: normal;
	}
	.active::after {
		content: "";
		display: block;
		height: 3px;
		background: white;
		position: absolute;
		bottom: -0.75em;
		left: 0;
		right: 0;
	}
	.nav-toggle-label {
		display: none;
	}
	.navbar {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr auto minmax(100px, 5fr) 0.5fr;
		grid-template-columns: 1fr auto minmax(100px, 5fr) 0.5fr;
	}
	.logo {
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
		grid-column: 2 / 3;
		margin-left: 80px;
	}
	nav {
		all: unset;
		-ms-grid-column: 3;
		-ms-grid-column-span: 1;
		grid-column: 3 / 4;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	nav ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 100%;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	nav li {
		margin: 0 1em;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	nav a {
		opacity: 1;
		position: relative;
		font-size: 0.9rem;
	}
	nav a::before {
		content: "";
		display: block;
		height: 3px;
		background: white;
		position: absolute;
		top: -0.75em;
		left: 0;
		right: 0;
		-webkit-transform: scale(0, 1);
		transform: scale(0, 1);
		-webkit-transition: -webkit-transform ease-in-out 250ms;
		transition: -webkit-transform ease-in-out 250ms;
		transition: transform ease-in-out 250ms;
		transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
	}
	nav a:hover::before {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	nav .dropdown {
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	nav .dropdown:hover .dropdown-content {
		display: block;
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1);
	}
	nav .dropdown-content {
		margin: 0;
		display: none;
		position: absolute;
		background-color: #a6192e;
		z-index: 1;
		top: 80px;
		-webkit-transform: scale(1, 0);
		transform: scale(1, 0);
		-webkit-transition: -webkit-transform 250ms ease-in-out;
		transition: -webkit-transform 250ms ease-in-out;
		transition: transform 250ms ease-in-out;
		transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
	}
	nav .dropdown-content a {
		text-align: left;
		margin: 0.5rem 1rem;
	}
	nav .dropdown-content a::before {
		top: -0.25em;
	}
	nav .dropdown-content ul,
	nav .dropdown-content li {
		margin: 0;
		padding: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	nav .dropdown-content .active {
		font-weight: bold;
	}
	nav .dropdown-content .active::after {
		content: "";
		all: unset;
	}
	.languages {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		height: 80px;
	}
}

@media screen and (min-width: 1080px) and (min-width: 1200px) {
	nav a {
		font-size: 1.1rem;
	}
}

.Contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 30px 0;
	max-width: 1000px;
	margin: auto;
}

.Contact h4 {
	color: black;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1;
}

.Contact a {
	text-decoration: none;
	color: #a6192e;
}

.Contact a:hover {
	text-decoration: underline;
}

.Contact img {
	width: 200px;
	height: 250px;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 5px;
}

.Contact p {
	color: #777;
}

.Contact .pg {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

.Contact .Person {
	margin: 40px 60px;
}

.Contact .Person * {
	text-align: center;
	margin: 5px auto;
}

.Contact .icon {
	color: #777;
	margin-right: 5px;
}

.Contact .phone {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.Contact .phone p {
	margin-left: 0;
}

.Catalog {
	width: 100%;
	height: 100vh;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: auto;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
}

.Catalog p {
	margin: auto;
	margin-bottom: 0;
	margin-top: 0;
}

.Catalog iframe {
	display: absolute;
	border: none;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 1000px;
	width: 100%;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.Map {
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
}

.Map .leaflet-container {
	height: 100%;
}

.Map .textSearch {
	position: absolute;
	top: 400px;
	right: 400px;
}

.NewsFlow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	max-width: 1200px;
	margin: 0 auto;
}

.NewsItem {
	position: relative;
	width: 350px;
	background-color: lightblue;
	margin-bottom: 15px;
	height: 300px;
}

.NewsItem img {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 300px;
}

.NewsItem .NewsHeader {
	color: white;
	background-color: #222;
	opacity: 0.95;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5px;
}

.NewsItem .NewsOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	background-color: #a6192e;
}

.NewsItem .NewsOverlay p {
	color: white;
	position: absolute;
	width: 80%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.NewsItem:hover .NewsOverlay {
	opacity: 0.9;
}

.footer {
	background: #222;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 16px;
}

.footer h3,
.footer h4,
.footer p {
	color: white;
	font-weight: 500;
	margin: 0;
}

.footer h3 {
	margin-bottom: 8px;
}

.footer img {
	height: 120px;
	width: auto;
	margin: 16px;
}

.footer .sponsor {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 10px 0;
	height: 100%;
}

.footer .sponsor a {
	height: 16px;
}

.footer .sponsor p {
	margin: 0;
	margin-right: 3px;
	line-height: 16px;
	font-size: 0.9em;
}

.footer .sponsor img {
	margin: 0;
	height: 16px;
	margin-left: 3px;
}

@media screen and (max-width: 1080px) {
	.footer {
		padding: 8px;
	}
	.footer h3,
	.footer h4,
	.footer p {
		margin: 0px;
		font-size: 14px;
	}
	.footer img {
		height: 40px;
		margin: 0;
		margin-top: 8px;
	}
}

.home .firstView {
	background-image: url(../img/header.jpg);
	background-position: center;
	width: 100%;
	right: 0;
	left: 0;
	position: relative;
	padding-bottom: 50px;
	padding-left: -100px;
	padding-right: -100px;
}

.home .firstView h1 {
	color: white;
}

.home .firstView .titleLine {
	color: #a6192e;
}

.home .firstView .countdown {
	color: white;
	font-size: 2em;
}

.home .firstView .logoLarge {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: auto;
	width: 50%;
	margin: 25px auto;
}

.home .firstView .Icons .icon {
	color: white;
	height: 50px;
	width: 50px;
	margin: 5px;
}

ul {
	display: inline-block;
	padding-left: 0;
	text-align: left;
}

ul .indentList {
	list-style-type: circle;
	margin-left: 15px;
}

.involved .dropdown {
	width: 80%;
	margin: auto;
	position: relative;
}

.involved .dropdown .dropdown-content {
	display: block;
}

.involved .dropdown .dropdown-content ul {
	text-align: center;
}

.involved .dropdown h3:hover ul {
	display: none;
}

.button {
	color: white;
	text-decoration: none;
	font-size: 2rem;
	background-color: #a6192e;
	margin: 25px;
	padding: 15px;
	border: outset;
	border-color: #a6192e;
	border-width: 0.3rem;
	border-radius: 5px;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

.ButtonDiv {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
}

.App {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

.Content {
	background-blend-mode: multiply;
	background-size: cover;
	padding-top: 80px;
	width: 100%;
	margin: auto;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 20px;
}

.navbar,
.footer,
.Content {
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.navbar,
.footer {
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.titleLine {
	color: #a6192e;
	margin-top: 0;
	top: -40px;
	position: relative;
	font-weight: bold;
	margin-bottom: 0;
}

.devBranchBanner {
	z-index: 1000;
	position: fixed;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	right: -32px;
}

.devBranchBanner p {
	color: #a6192e;
	background-color: white;
	text-align: center;
	padding-right: 40px;
	padding-left: 40px;
	overflow: visible;
}

p {
	max-width: 700px;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}

li {
	max-width: 450px;
}

iframe {
	margin: auto;
}

.jexpo-container {
	margin: auto;
}

.pdf {
	margin: auto;
}
/*# sourceMappingURL=App.css.map */
