
@import './variables';
@import './navbar';
@import './contact';

.App {
  text-align: center;
}

.Content {
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}