@import "./variables";
@import "./navbar";
@import "./contact";
@import "./catalog";
@import "./map";
@import "./footer";
@import "./home";

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.Content {
	background-blend-mode: multiply;
	background-size: cover;
	padding-top: $navbar-height;
	width: 100%;
	max-width: 500px;
	margin: auto;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.navbar,
.footer,
.Content {
	flex-shrink: 0;
}

.navbar,
.footer {
	flex-grow: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.button {
	background-color: blue($color: #0000ff);
	color: blue($color: #0000ff);
}
