@import "./variables";
@import "./navbar";
@import "./contact";
@import "./catalog";
@import "./map";
@import "./news";
@import "./footer";
@import "./home";
@import "./lists";
@import "./involved";
@import "./buttons";
@import "./jexpo";
@import "./covid";
@import "./text";
@import "./banner";

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

.Content {
	background-blend-mode: multiply;
	background-size: cover;
	padding-top: $navbar-height;
	width: 100%;
	margin: auto;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.navbar,
.footer,
.Content {
	flex-shrink: 0;
}

.navbar,
.footer {
	flex-grow: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.titleLine {
	color: $main-color;
	margin-top: 0;
	top: -40px;
	position: relative;
	font-weight: bold;
	margin-bottom: 0;
}

.devBranchBanner {
	z-index: 1000;
	position: fixed;
	transform: rotate(45deg);
	right: -32px;
	p {
		color: $main-color;
		background-color: white;
		text-align: center;
		padding-right: 40px;
		padding-left: 40px;
		overflow: visible;
	}
}

iframe {
	margin: auto;
}

.jexpo-container {
	margin: auto;
}

.pdf {
	margin: auto;
}

.students {
	.involved {
		background-color: grey;
		color: white;
	}
}
