
@import './variables';
@import './navbar';
@import './contact';

.App {
  text-align: center;
}

.Content {
  background-blend-mode: multiply;
  background-size: cover;
  padding-top: 80px;
  max-width: 1200px;
  margin: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}